extends template

mixin my-option(level)
  select(id=level+"sortOption" onchange="changedinput(this);")
    option(value='0') Нет
    option(value='1') Hero name
    option(value='2') Main attribute	
    option(value='3') Main role
    option(value='4') Release date	
    option(value='5') Max hp	
    option(value='6') Max armor	
    option(value='7') Max mana	

block title
  title Все герои

mixin table-create(a, b, c, d, e, f, g)
  tr
    td=a
    td=b
    td=c
    td=d
    td=e
    td=f    
    td=g

block content
    details
      summary Блок настроек показа: 
      .main-block
        .block-01
          .table 
            .title-1-1
              p График:
            .left-edge-1
              p.title-1 Значение по оси OХ:
              p Main attribute
                input#ox1(type='radio',name="ox", value='attribute', checked=true)
              p Main role
                input#ox2(type='radio',name="ox",  value='role')
            .right-edge-1
              p.title-1 Результат: 
              p Release Date
                input#oy1(type='radio', name="oy", value='releaseDate',checked=true)
              p MAX ARMOR
                input#oy2(type='radio',  name="oy",value='maxArmor')
            button(onclick="drawDiagramm();") Построить 
        .block-02
          .table-2-2
            .table 
              .title-1-3
                p Фильтр:
              .left-edge-1
                p Hero name:
                p Main attribute:
                p Main role: 
                p Max HP: (от):	
                p Max HP: (до):
                p Max ARMOR: (от):	
                p Max ARMOR: (до):
                p Max MANA: (от):	
                p Max MANA: (до):
              .right-edge-1
                p
                  input#nameInput(type='text', placeholder='Введите')
                p
                  input#attributeInput(type='text', placeholder='Введите')
                p
                  input#roleInput(type='text',  placeholder='Введите')
                p
                  input#hpFrom(type='number',   placeholder='Введите')
                p
                  input#hpTo(type='number',  placeholder='Введите')
                p
                  input#armorFrom(type='number',   placeholder='Введите')
                p
                  input#armorTo(type='number',   placeholder='Введите')
                p
                  input#manaFrom(type='number',  placeholder='Введите')
                p
                  input#manaTo(type='number',  placeholder='Введите')
              button(onclick="filter();") Найти
              button(onclick="clearTable();") Очистить
        .block-03
          .table-2
            .title-1-2
              p Сортировка:
            .left-edge-2
              p Первый уровень
              p Второй уровень 
              p Третий уровень
            .center-edge-2
              p 
                +my-option("1")
              p 
                +my-option("2")
              p 
                +my-option("3")
            .right-edge-2
              p.no-ind по убыванию?
                input(type='checkbox', id="L1CHECKBOX")
              p.no-ind по убыванию?
                input(type='checkbox', id="L2CHECKBOX")
              p.no-ind по убыванию?
                input(type='checkbox', id="L3CHECKBOX")
            button(onclick="filter();") Построить 
    
    .my-block-1
    svg
    table#myTable
      script filter();